<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>新規会員登録</title>
</head>

<body>
	<h2>新規会員登録画面</h2>

	<p th:text="*{errorMsg}" style="color: red;"></p>
	<form th:action="@{/register}" method="post" th:object="${registerForm}">
		<div>
			<label>ユーザID</label>
			<input type="text" th:field="*{userId}">
		</div>
		<div>
			<label>ユーザ名</label>
			<input type="text" th:field="*{userName}">
		</div>
		<div>
			<label>パスワード</label>
			<input type="password" th:field="*{password}">
		</div>
		<div>
			<label>メールアドレス</label>
			<input type="text" th:field="*{mailAddress}">
		</div>
		<div>
			<input type="submit" value="登録">
		</div>
	</form>

</body>

</html>