body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f9;
	margin: 0;
	padding: 0;
}

nav {
	background-color: #00a0e9;
	padding: 10px
}

nav ul {
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: left;
}

nav ul li {
	margin: 5px;
}

nav ul li a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

.container {
	max-width: 800px;
	margin: 20px auto;
	padding: 20px;
	background-color: white;
	border-radius: 8px;
	box-shadow: 0 42px 4px rgba(0, 0, 0, 0, 1);
}

.form-group {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 15px;
}


h1,
h2 {
	color: #333;
}

button {
	background-color: #00a0e9;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}


button:hover {
	opacity: 0.6;
}

input,
textarea {
	width: 90%;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 15px;
	border: 1px solid #ddd;
	border-radius: 5px;

}

ul {
	padding: 0;
}

li {
	list-style: none;
	margin-bottom: 15px;
	padding: 10px;
	border: 1px solid #ddd;

}

li h2 {
	margin: 0;
}

li p {
	margin: 5px 0 0;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.author {
	color: grey;
}

.list-btn {
	display: block;
	margin: 0 5px;
	text-align: right;
}

.edit-btn {
	display: block;
	margin: 0 5px;
	text-align: left;
}

.back-btn {
	display: block;
	margin: 5px;
	text-align: right;
}

.m1 {
	margin: 5px;
}

.bl {
	display: block;
}